html,
body {
	height: 100%;
	width: 100%;
	line-height: 0;
	margin: 0;
}

#root {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

#root > div {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#surface {
	border: 2px solid #CCC;
}

.score {
	line-height: 1;
	font-size: 20px;
	font-family: monospace;
}

.tile {
	display: inline-block;
	border: 10px double #CCC;
	width: 20px;
	height: 20px;
}

.filled {
	border-color: #444;
}

.row {
	display: block;
	margin: 0;
}
